@font-face {
    font-family: 'Kaisei Opti';
    src: url('KaiseiOpti-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaisei Opti';
    src: url('KaiseiOpti-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaisei Opti';
    src: url('KaiseiOpti-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

